{% extends 'layout.twig' %}

{% block content %}

    {% if not user.id %}
      <h1>Welcome! <a href="/register">Create Account</a> or <a href="/login">Login</a></h1>
    {% else %}
      <h1>Welcome to the site, @{{ user.username }}!</h1>
    {% endif %}

    <hr/>

{% endblock %}
