{% extends 'layout.twig' %}

{% block content %}

    <h1>Welcome to the blog!</h1>

    <p>View your <a href="/inbox">Inbox</a></p>

    <p>Have a look at our articles:</p>

    <ul class="collection">

        {% for article in articles %}
            <li class="collection-item avatar">

                <i class="mdi-editor-insert-comment circle"></i>

                <span class="title">{{ article.title }}</span>

                <p>{{ article.content }}</p>

                <p><a href="/article/{{ article.id }}">Read more</a></p>

            </li>
        {% endfor %}

    </ul>

    <hr/>

    <form action="/user" method="POST" style="width: 25%;">
      <legend>Create a User</legend>
      <input type="text" name="user_name" placeholder="Your User Name" />
      <input type="text" name="user_email" placeholder="Your Email" />
      <input type="password" name="user_password" placeholder="Your Password" />
      <button type="submit" class="btn">Submit</button>
    </form>


{% endblock %}
