{% extends 'layout.twig' %}

{% block content %}

    <blockquote class="flow-text">{{ message.text }}</blockquote>
    <p><a href="/inbox" class="btn">Back to your inbox</a></p>

    <hr/>

{% endblock %}
