{% extends 'layout.twig' %}

{% block content %}

    <h1>Welcome to your inbox <b>@crupi_trevor</b>!</h1>

    <p>Have a look at your messages:</p>

    <ul class="collection">

        {% for message in messages %}
            <li class="collection-item avatar">

                <i class="mdi-editor-insert-comment circle"></i>

                <p>{{ message.text }}</p>

                <p><a href="/messages/{{ message.id }}">Read more</a></p>

            </li>
        {% endfor %}

    </ul>

    <hr/>

    <form action="/add/message" method="POST" style="width: 50%;">
      <input type="text" name="message_text" placeholder="Type Your Message Here..." />
      <button type="submit" class="btn">Submit</button>
    </form>

    <p><a href="/" class="btn">Back to Home</a></p>

{% endblock %}
